.iasd-global_navbar {
	background: url(../img/background.jpg) top center !important;
}

h1{
	color: #c16031;
	font-size: 3.5em;
	font-weight: 300;
}

p {
	font-size: 1.3em;
}

small {
	opacity: 0.4;
	font-style: italic;
}

#oracao > header{
	background: url(../img/background.jpg) bottom center;
	height: 624px;
}

#oracao > header .container {
}

#oracao header .logo {
	top: 65px;
	float: right;
	position: relative;
	right: -110px;
}

#oracao header .seta {
	position: relative;
	top: 580px;
	left: 50%;
	width: 75px;
	margin-left: -37px;
}

#oracao .iasd-main-title {
	margin-top: 60px !important;
	box-shadow: none;
	border-bottom: 1px solid #e0d8cb;
	color: #57351c;
}

.revista {
	background: #0b121f;
}

.revista .titulo {
	background: #121d33;
	padding: 40px 0;
}

.revista .titulo h1 {
	color: #c16031;
	padding: 10px 0;
	margin: 0 0 20px;
}

.revista .titulo p {
	color: #fff;
	font-weight: 300;
}

.revista .embed {
	padding: 40px 0;
}

.videos .video {
	margin-bottom: 20px;
}

.videos img {
	border-radius: 5px;
}

.videos figcaption {
	margin-top: 5px;
}

.videos a, .videos a:visited, .faq a, .faq a:visited, .disqus a, .disqus a:visited {
	color: #57351c;
}

.videos a:hover, .videos a:focus, .faq a:hover, .faq a:focus, .disqus a:hover, .disqus a:focus {
	color: #996843;
}

.infografico {
	margin: 50px 0 0;
	background: #121d33;
	color: #fff;
}

.infografico .slider {
	margin-bottom: 30px;
}

.infografico .owl-carousel {
	padding: 0 30px 30px 30px;
}

.infografico .titulo {
	margin: 30px 0;
}

.infografico .slider-content {
	background: #0e1728;
}

.infografico .slider-content .item {
	padding: 30px 0 30px;
}

.infografico .slider-content img {
}

.infografico h2 {
	color: #c16031;
}

.infografico p {
	font-weight: 300;
}

.infografico .info {
	background-color: #15223b;
	width: 100%;
	height: 211px;
	display: block;
	padding: 30px;
	border-radius: 5px;
	cursor: pointer;
}

.infografico .info:hover {
	background-color: #182643;
}

.infografico .imagem {
	width: 170px;
	height: 149px;
	float: left;
	background: no-repeat;
}

.infografico .info .textos {
	margin: 30px 0 0;
}

#oracao.pt_BR .infografico .jejum {
	background-image: url(../img/pt_BR/jejum.png);
}

#oracao.pt_BR .infografico .caminhada {
	background-image: url(../img/pt_BR/caminhada.png);
}

#oracao.es_ES .infografico .jejum {
	background-image: url(../img/es_ES/jejum.png);
}

#oracao.es_ES .infografico .caminhada {
	background-image: url(../img/es_ES/caminhada.png);
}

.infografico .info .titulo {
	text-transform: uppercase;
	color: #fff;
	font-size: 18px;
	display: block;
}

.infografico .info .botao {
	color: #c16031;
	padding: 5px 10px;
	border: 1px solid #c16031;
	border-radius: 5px;
}


.faq h4 {
	font-size: 16px;
}

#oracao.es_ES>footer .info {
	background-image: url(../img/es_ES/iasd_footer.png);
}

#oracao.pt_BR>footer .info {
	background-image: url(../img/pt_BR/iasd_footer.png);
}

#oracao>footer {
	background: #ddd7ce !important;
}

#oracao > footer h1, #oracao > footer .info .copyright {
	color: #3a3a3a !important;
}

#oracao > footer a, #oracao > footer a:visited {
	color: #3F3A34;
}

#oracao > footer a:hover, #oracao > footer a:focus {
	color: #4a4a49;
}

.issuuembed div div:nth-child(2) {
	display: none;
}

.panel {
	background: #f5f0ea;
	font-size: 0.8em;
	padding: 10px 15px;
	margin-bottom: 5px;
}

.panel h4 {
	margin-bottom: 0;
	color: #3E3E42;
}


.panel-collapse {
	margin: 10px 20px 0 10px;
}

.materiais {
	margin: 40px 0;
}

.materiais .container .row div div {
	color: #3a3a3a;
	background-color: #eee9e3;
	border: 1px solid #e0d8cd;
	border-radius: 3px;
	padding: 40px;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
	.iasd-global_navbar {
		background-position: -1009px -29px !important;
	}

	#oracao > header{
		background-position: -723px -100px;
		height: 550px;
	}

	#oracao header .logo {
		top: 0;
		right: -80px;
		width: 490px;
	}
}


/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 568px) {

	.iasd-global_navbar {
		background-position: -1009px -29px !important;
	}

	#oracao > header{
		background-position: -1003px -100px;
		height: 400px;
	}

	#oracao header .logo {
		top: 0;
		left: 40px;
		width: 430px;
		float: left;
	}

	#oracao header .seta {
		top: 360px;
	}

	.infografico .imagem {
		width: 130px;
		height: 149px;
		float: right;
		background: no-repeat;
	}

	#oracao.pt_BR .infografico .jejum {
	background-image: url(../img/pt_BR/jejum_s.png);
	}

	#oracao.pt_BR .infografico .caminhada {
		background-image: url(../img/pt_BR/caminhada_s.png);
	}

	#oracao.es_ES .infografico .jejum {
		background-image: url(../img/es_ES/jejum_s.png);
	}

	#oracao.es_ES .infografico .caminhada {
		background-image: url(../img/es_ES/caminhada_s.png);
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	.iasd-global_navbar {
		background-position: -1063px -29px !important;
	}

	#oracao > header{
		background-position: -1003px -100px;
		height: 400px;
	}

	#oracao header .logo {
		top: 0;
		left: -20px;
		width: 430px;
		float: left;
	}

	#oracao header .seta {
		top: 360px;
	}

	.infografico .imagem {
		width: 90px;
		height: 149px;
		float: right;
		background: no-repeat;
	}

	#oracao.pt_BR .infografico .jejum {
		background-image: url(../img/pt_BR/jejum_s2.png);
	}

	#oracao.pt_BR .infografico .caminhada {
		background-image: url(../img/pt_BR/caminhada_s2.png);
	}

	#oracao.es_ES .infografico .jejum {
		background-image: url(../img/es_ES/jejum_s2.png);
	}

	#oracao.es_ES .infografico .caminhada {
		background-image: url(../img/es_ES/caminhada_s2.png);
	}

	.infografico .info .titulo {
		font-size: 14px;
		line-height: 16px;
	}

	.infografico .info .botao {
		font-size: 11px;
	}

}



