/**
* Name: Ministério do Adolescente
* Thumbnail: thumbnail.png
* Version: 13/11/2013
*/


// Theme Options
// -------------------------

$theme-main-color: 					#ad3945;
$theme-alt-color: 					#1f5681;
$theme-main-nav-base-color:			$theme-main-color;
$theme-footer-base-color:			$theme-main-color;
$theme-header-background-img:		'flavours/adolescente/header.jpg';
$theme-logo: 						'flavours/adolescente/logo.png';
$theme-logo-retina: 				'flavours/adolescente/logo@2x.png';


@import "iasd-variables";
@import "iasd-bootstrap";
