/**
* Name: Educação
* Thumbnail: thumbnail.png
* Version: 13/11/2013
*/



// Theme Options
// -------------------------

$theme-main-color: 					#da8d3a;
$theme-alt-color: 					#2a534c;
$theme-main-nav-base-color:			$theme-alt-color;
$theme-footer-base-color:			$theme-alt-color;
$theme-header-background-img:		'flavours/educacao/header.jpg';
$theme-logo: 						'flavours/educacao/logo.png';
$theme-logo-retina: 				'flavours/educacao/logo@2x.png';

@import "iasd-variables";
@import "iasd-bootstrap";
