/**
* Name: Esperança Brasil
* Thumbnail: thumbnail.png
* Version: 13/11/2013
*/



// Theme Options
// -------------------------

$theme-main-color: 					#091f55;
$theme-alt-color: 					#009b3a;
$theme-main-nav-base-color:			$theme-main-color;
$theme-footer-base-color:			$theme-main-color;
$theme-header-background-img:		'flavours/esperancabrasil/header.jpg';
$theme-logo: 						'flavours/esperancabrasil/logo.png';
//$theme-logo-retina: 				'flavours/esperancabrasil/logo@2x.png';

@import "iasd-variables";
@import "iasd-bootstrap";
