/**
* Name: Publicações
* Thumbnail: thumbnail.png
* Version: 13/11/2013
*/



// Theme Options
// -------------------------

$theme-main-color: 					#72a7af;
$theme-alt-color: 					#a97f62;
$theme-main-nav-base-color:			$theme-alt-color;
$theme-footer-base-color:			$theme-alt-color;
$theme-header-background-img:		'flavours/publicacoes/header.jpg';
$theme-logo: 						'flavours/publicacoes/logo.png';
$theme-logo-retina: 				'flavours/publicacoes/logo@2x.png';

@import "iasd-variables";
@import "iasd-bootstrap";
