.iasd-main_navbar {
	margin-bottom: 0;

	.navbar {
		margin-bottom: 0;		
	}
}

.special-pages {
	background: url("../img/background.jpg") repeat-x;
	padding: 60px 0;

	h1 {
		font-size: 48px;
		line-height: initial;
		color: #fbf6f0;
		font-weight: 300;
		margin: 20px 0 50px;
	}

	.page {
		margin-bottom: 30px;
	}

	img {
		border-radius: 5px 5px 0 0;
	}

	h2 {
		color: #3a3a3a;
		font-weight: 300;
		font-size: 18px;
	}
}

body>footer {
	margin-top: 0;
}