.iasd-main_navbar{margin-bottom:0}.iasd-main_navbar .navbar{margin-bottom:0}.special-pages{background:url("../img/background.jpg") repeat-x;padding:60px 0}.special-pages h1{font-size:48px;line-height:initial;color:#fbf6f0;font-weight:300;margin:20px 0 50px}.special-pages .page{margin-bottom:30px}.special-pages img{border-radius:5px 5px 0 0}.special-pages h2{color:#3a3a3a;font-weight:300;font-size:18px}body>footer{margin-top:0}
/*# sourceMappingURL=special-pages.css.map */
