.page-template-page-reencontro {

	.iasd-main_navbar {
		margin-bottom: 0;
	}
	
	.navbar {

		margin-bottom: 0;

		.menu {
			height: 39px;

			ul {
				margin-bottom: 0;
			}
		}
	}
}

.iasd-institutional-header {
	margin: 0 !important;

	background: image-url("background.jpg") !important;

	figcaption {
		background: #3587c8;
		background: rgba(53,135,200,0.5);
	}
}

.reencontro {
	margin-top: 50px;

	.videos {

		a {
			display: table;
			margin-bottom: 30px;

			img {
				display: table-cell;
				width: 132px;
			}

			span {
				display: table-cell;
				vertical-align: middle;
				padding-left: 20px;
				font-family: Lato-Bold;
				font-size: 16px;
				color: #3A3A3A;
			}
		}
	}

	aside {
		margin-top: 30px;

		.iasd-widget {
			clear: initial;
		}

		h1 {
			font-family: Lato;
		}
	}
}